body{
    font-family: Arial, sans-serif;
}

div.app-container {
    max-width: 700px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

div.subject {
    width: 300px;
    margin: 5% auto;
}

div.category {
    width: 500px;
    margin: auto;
}

li.post-list-item {
    padding: 0;
}

h5.post-title {
    display: inline-block;
    width: 70%;
}

h5.post-title:hover {
    text-decoration: underline;
}

p.post-date-small {
    display: inline-block;
    float: right;
    font-size: small;
    width: 25%;
}

p.post-date-medium {
    display: inline-block;
    float: right;
    font-size: medium;
    width: 25%;
}

div.category-top {
    width: 500px;
    margin: auto;
}

li.category-list-item {
    padding: 0;
}

span.category-list-icon {
    font-size: small;
}

div.img-hover-zoom {
    width: 85%;
    overflow: hidden;
}

div.img-hover-zoom img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

div.img-hover-zoom:hover img {
    transform: scale(1.15);
}