div.subtitle-list {
    margin: 5%;
}

div.subtitle-list ul li {
    padding: 0;
}

div.subtitle-list ul li a {
    color: black;
}

div.subtitle-list ul li span.material-icons {
    font-size: small;
}

div.content {
    max-width: 600px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin: auto;
}

div.content span.small {
    font-size: small;
}

div.content h3 a{
    color: black;
    visibility: hidden;
}

div.content h3:hover{

}

div.content img {
    max-width: 100%;
    min-width: 25%;
}

div.content pre{
    background: white;
    border-style: solid;
    border-width: thin;
}
