div.subtitle-list {
    margin: 5%;
}

div.subtitle-list ul li {
    padding: 0;
}

div.subtitle-list ul li a {
    color: black;
}

div.subtitle-list ul li span.material-icons {
    font-size: small;
}

div.content {
    max-width: 600px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin: auto;
}

div.content a {
    color: black;
    text-decoration-line: none;
}

div.content span.material-icons {
    font-size: small;
}

div.content .subtitle-list {

}

div.content img {
    max-width: 100%;
    min-width: 25%;
}
