div.container {
    max-width: 500px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.post-info {
    padding: 0;
}

.post-title {
    display: inline-block;
}

.post-date {
    display: inline-block;
    float: right;
}

.tag-info{
    padding: 0;
    margin-top: 20px;
}

.category-list{
    padding: 0;
}