<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/static/image/favicon.ico" rel="icon" type="image/x-icon"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <title>Website</title>
</head>
<body>
<div th:insert="common/navbar::navbar"></div>
<div class="app-container container">
    <div class="row">
        <div class="col" th:each="subject: ${subjects}">
            <div class="subject">
                <a th:href="${subject.urlEndpoint}" th:if="${subject.imageUrl}!=null">
                    <div class="img-hover-zoom">
                        <img alt="subject image" th:src="${subject.imageUrl}">
                    </div>
                </a>
                <a class="text-decoration-none text-dark" th:href="${subject.urlEndpoint}">
                    <h3>[[${subject.name}]]</h3>
                </a>
                <p>[[${subject.explanation}]]</p>
                <div>
                    <ul class="list-group">
                        <li class="post-list list-group-item border-0" th:each="postInfo: ${postInfos}"
                            th:if="${postInfo.subjectId}==${subject.id}">
                            <div>
                                <a class="text-decoration-none text-secondary"
                                   th:href="'/'+${subject.urlEndpoint}+'/'+${postInfo.urlEndpoint}">
                                    <h5 class="post-title">[[${postInfo.title}]]</h5>
                                </a>
                                <p class="post-date-small">[[${postInfo.createTime}]]</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/index.js"></script>
<script>
    const dates = document.getElementsByClassName("post-date-small")
    for (let date of dates)
        date.textContent = convertUnixTimeToDate(date.textContent)
</script>
<script>
    const colLen = document.getElementsByClassName("col").length
    if (colLen % 2 === 1)
        addPadDiv("subject")
</script>
</body>
</html>