<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/static/image/favicon.ico" rel="icon" type="image/x-icon"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <title>Website/[[${currentSubject.name}]]</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Website</a>
    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <span th:each="subject: ${subjects}">
                <a class="nav-item nav-link active" href=javascript:void(0) th:if="${subject.id}==${currentSubject.id}">[[${subject.name}]]</a>
                <a class="nav-item nav-link" th:href="'/'+${subject.urlEndpoint}"
                   th:unless="${subject.id}==${currentSubject.id}">[[${subject.name}]]</a>
            </span>
        </div>
    </div>
</nav>
<div class="container">
    <div class="category-top">
        <h1 class="text-dark">[[${currentSubject.name}]]</h1>
        <p>[[${currentSubject.explanation}]]</p>
        <div>
            <ul class="list-group">
                <li class="category-list list-group-item border-0" th:each="category: ${categories}">
                    <a class="text-dark" th:href="'#'+${category.name}">
                        <span class="category-list-icon material-icons">double_arrow</span>
                        [[${category.name}]]
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item border-0" th:each="category: ${categories}">
                <div class="category">
                    <a class="text-dark" th:href="'#'+${category.name}">
                        <h3 th:id="${category.name}">
                            <span class="material-icons">link</span>
                            [[${category.name}]]
                        </h3>
                    </a>
                    <div class="img-hover-zoom">
                        <img alt="tag image" th:if="${category.imageUrl}!=null" th:src="${category.imageUrl}">
                    </div>
                    <p>[[${category.explanation}]]</p>
                    <div>
                        <ul class="list-group">
                            <li class="post-list list-group-item border-0" th:each="postInfo: ${postInfos}"
                                th:if="${postInfo.categoryId}==${category.id}">
                                <div>
                                    <a class="text-secondary" th:href="'/post/'+${postInfo.urlEndpoint}">
                                        <h5 class="post-title">[[${postInfo.title}]]</h5>
                                    </a>
                                    <p class="post-date-medium">[[${postInfo.createTime}]]</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/index.js"></script>
<script>
    const dates = document.getElementsByClassName("post-date-medium")
    for (let date of dates)
        date.textContent = convertUnixTimeToDate(date.textContent)
</script>
</body>
</html>